*{
    font-family: "Dancing Script";
}

h1
{
    text-align: center;
}
.tituloCabecera{
    width: 80%;
    color: white;
    text-shadow: 0 2px 2px #02010a;
}
.enlasesCabecera{
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
}
.cabecera{
    display: flex;
    flex-wrap: wrap;
    background: #5b7989;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imagenCentral
{
    width: 100%;
    background-color: #82c3a6;   
}
.imagenesGaleria{
    background-color: #d5c75f;
}
.imagenesSecundarias{
    width: 100%;
    background-color: #d5c75f;
    border: 1px;
    }
@media (max-width:900px){
    .imagenesSecundarias{
        width: 100%;
    }
    .tituloCabecera{
    width: 100%;
    color: white;
    text-shadow: 0 2px 2px #02010a;
    }
    .enlasesCabecera{
        width: 100%;
        text-align: center
    }
    .pieDpagina{
    display: flex;
    flex-direction: column;
    }
    .bloquePie1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .bloquePie2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .bloquePie3{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .bloquePie4{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .imagenCen1{
    padding: 10px;
    }
    .contenido{
        width: 100%;
    }
    .imagenSegundariaDer{
        padding: 10px;
        width: 50%;
    }
    .imagenSegundariaIzq{
        padding: 10px;
        width: 50%;
    }
    .imagenSegundariaIzq,img{
        width:  98%;
    }
    .imagenSegundariaDer,img{
        width:  98%;
    }
    .imagenesGaleria{
    display: flex;
    flex-direction: column;
    }
    .subContenedor1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .subContenedor2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .imagen1{
        padding: 10px;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        filter: blur(10px);
    }
    .imagen2{
        padding: 10px;
        filter: grayscale(40%);
        -webkit-filter: grayscale(40%);
        -moz-filter: grayscale(40%);
        -o-filter: grayscale(40%);
    }
    .imagen3{
        padding: 10px;
        filter: sepia(90%);
        -moz-filter: sepia(90%);
        -webkit-filter: sepia(90%);
        -o-filter: sepia(90%);
    }
    .imagen4{
        padding: 10px;
        filter: grayscale(80%);
        -webkit-filter: grayscale(80%);
        -moz-filter: grayscale(80%);
        -o-filter: grayscale(80%);
    }.imagen5{
        padding: 10px;
    }.imagen6{
        padding: 10px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    }
}
@media (min-width:900px){
    .imagenesSecundarias{
        display: flex;
    }
    .pieDpagina{
    display: flex;
    flex-direction: row;
    }
    .bloquePie1{
        display: flex;
        flex-direction: column;
        width: 25%;
    }
    .bloquePie2{
        display: flex;
        flex-direction: column;
        width: 25%;
    }
    .bloquePie3{
        display: flex;
        flex-direction: column;
        width: 25%;
    }
    .bloquePie4{
        display: flex;
        flex-direction: column;
        width: 25%;
    }
    .imagenCen1{
    padding: 10px;
    }
    .contenido{
        width: 100%;
    }
    .imagenSegundariaDer{
        padding: 10px;
        width: 50%;
    }
    .imagenSegundariaIzq{
        padding: 10px;
        width: 50%;
    }
    .imagenSegundariaIzq,img{
        width:  100%
    }
    .imagenSegundariaDer,img{
        width:  100%
    }
    .imagenesGaleria{
    display: flex;
    flex-direction: column;
    }
    .subContenedor1{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .subContenedor2{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .imagen1{
        padding: 10px;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        filter: blur(10px);
    }
    .imagen2{
        padding: 10px;
        filter: grayscale(40%);
        -webkit-filter: grayscale(40%);
        -moz-filter: grayscale(40%);
        -o-filter: grayscale(40%);
    }
    .imagen3{
        padding: 10px;
        filter: sepia(90%);
        -moz-filter: sepia(90%);
        -webkit-filter: sepia(90%);
        -o-filter: sepia(90%);
    }
    .imagen4{
        padding: 10px;
        filter: grayscale(80%);
        -webkit-filter: grayscale(80%);
        -moz-filter: grayscale(80%);
        -o-filter: grayscale(80%);
    }.imagen5{
        padding: 10px;
    }.imagen6{
        padding: 10px;
    }
}
#paisajes:hover{
    transform: rotate(10deg);
}
#paisajes{
    transition: transform 1s;
}
#retratos:hover{
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    transform: translate(20px,-5px);
}
#retratos{
    transition: transform 1s;
}
#retratos{
    box-shadow: 2px 2px 2px 2px #82c3a6;
    -webkit-box-shadow: 2px 2px 2px 2px #82c3a6;
    -moz-box-shadow: 2px 2px 2px 2px #82c3a6;
}
.pieDpagina{
    background: #C6d5c5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
header{
    animation: miAnimacion 1s;
}
@-webkit-keyframes miAnimacion{
    0%{
        margin-top: 150%
    }
    60%{
        margin-top: -5%;
    }
    100%{
        margin-top: 0%;
    }
}
a[href='http://www.instagram.com']{
    list-style: none;
    text-indent: 30px;
    background: url(/imagenes/instagram.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 .3eml;
}
a[href='http://www.facebook.com']{
    list-style: none;
    text-indent: 30px;
    background: url(/imagenes/facebook.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 .3eml;
}
a[href='http://www.twitter.com']{
    list-style: none;
    text-indent: 30px;
    background: url(/imagenes/twitter.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 .3eml;
    -webkit-list-style: none;
    -webkit-text-indent: 30px;
    -webkit-background: url(/imagenes/twitter.jpg);
    -webkit-background-size: contain;
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: 0 .3eml;
}